body, main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CE1126;
    font-size: 18px;
}

table{ 
    border-collapse: collapse;
    width: auto;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}


caption{
    float: inline-start;
}

nav, footer{
    font-size: smaller;
}

.slide_in{
    position: relative;
    top: 0;
    left: 25%; 
    transform: translateX(-50%);
    width: 100%;
    animation: slideIn 1s forwards;

}

@keyframes slideIn {
    from{
        top: -100px;
    }

    to{
        top: 0;
    }
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.element{
    color: whitesmoke;
}

.element_shadow{
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

.break{
    height: 40px;
}

.image_container{
    display: flex;
}
